#product-detail img {
	width: 400px;
	height: 400px;
}

#product-detail .description {
	padding-top: 25%;
	font-size: 20px;
} 

#similar-products img {
	width: 200px;
	height: 200px;
}

.product-card {
	text-align: center;
	padding-top: 20px;
	cursor: pointer;
}
.product-card:hover {
	background-color: #d3d3d3;
}